<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../styles/style-dashboard.css">
  <title>Dashboard - Comunica UFAL</title>
</head>

<body>
  <header>
    <h2>
      COMUNICA <strong>UFAL</strong>
    </h2>

    <div>
      <a href="#">
        <h3>Início</h3>
      </a>
      <a href="#">
        <h3>Nova Solicitação</h3>
      </a>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="d-flex">
        <h1>Olá Aluno,<br>essas são suas solicitações</h1>
        <span>
          <button class="btn-verde">Nova solicitação</button>
        </span>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Título</th>
            <th>Tag</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-transparent">
            <td>1</td>
            <td>Seleção projeto</td>
            <td>Projetos</td>
            <td>28/10/2021</td>
            <td><button class="btn-verde">Acompanhar</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Destrancamento de matrícula</td>
            <td>Matrícula</td>
            <td>15/10/2021</td>
            <td><button class="btn-verde">Acompanhar</button></td>
          </tr>
          <tr class="bg-transparent">
            <td>3</td>
            <td>Trancamento de matrícula</td>
            <td>Matrícula</td>
            <td>06/06/2021</td>
            <td><button class="btn-verde">Acompanhar</button></td>
          </tr>
        </tbody>
    </div>
  </main>

  <footer>

  </footer>
</body>

</html>
