<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunica Ufal - Sign up</title>
    <link rel="stylesheet" href="../styles/style-sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body bgcolor="FOFOF7">

    <div id="div-branca">

        <h1 id="h1pos">Cadastre-se para<br>fazer solicitações</h1>
        <div style="width: 100%;">
            <form action="" id="form-cadastro">
                <input class="placeholdercolor" type="text" placeholder="Nome">
                <input class="placeholdercolor" type="text" placeholder="Sobrenome">
                <input class="placeholdercolor" type="number" placeholder="Matrícula">
                <input class="placeholdercolor" type="password" placeholder="Senha" name="pass" id="pass">
                <input class="placeholdercolor" type="password" placeholder="Confirme sua senha" name="pass-confirm"
                    id="pass-confirm">
                <select name="Curso">
                    <option class="placeholdercolor" value="valor1" disabled selected>Curso</option>
                    <option class="placeholdercolor" value="valor2">Ciência da computação</option>
                </select>
                <input type="submit" id="btn" placeholder="Entrar">
            </form>
        </div>
    </div>

    <div id="retangle">
        <div>
            <h1>Comunica <span style="font-weight:900" ;>UFAL</span></h1>
            <img src="../assets/logo.svg" />
        </div>
    </div>

</body>

</html>
