<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunica Ufal - Sign up</title>
    <link rel="stylesheet" href="../styles/style-sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body bgcolor="FOFOF7">

    <div id="div-branca">

        <h1 id="h1pos">Cadastre-se para<br>fazer solicitações</h1>
        <div style="width: 100%;">
            <form id="form-cadastro" th:object="${student}" method="post" th:action="@{/create}">
                <input class="placeholdercolor" type="text" placeholder="Nome" th:field="*{name}">
                <input class="placeholdercolor" type="text" placeholder="Sobrenome" th:field="*{surname}">
                <input class="placeholdercolor" type="number"  th:field="*{matricula}" th:placeholder="Matrícula">
                <select required name="Período" th:field="*{quarter}" placeholder="asas">
                    <option value="1">1ª período</option>
                    <option value="2">2ª período</option>
                    <option value="3">3ª período</option>
                    <option value="4">4ª período</option>
                    <option value="5">5ª período</option>
                    <option value="6">6ª período</option>
                    <option value="7">7ª período</option>
                    <option value="8">8ª período</option>
                    <option value="9">9ª período</option>
                    <option value="10">10ª período</option>
                </select>
                <select name="Curso" th:field="*{course}">
                    <option class="placeholdercolor" value="Ciência da Computação">Ciência da computação</option>
                </select>
                <input type="submit" id="btn" placeholder="Entrar">
            </form>
        </div>
    </div>

    <div id="retangle">
        <div>
            <h1>Comunica <span style="font-weight:900" ;>UFAL</span></h1>
            <img src="../assets/logo.svg" />
        </div>
    </div>

</body>

</html>
